@media (min-width: 768px) {
    #menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        box-shadow: none;
    }

    #menu-toggle {
        display: none;
    }

    #menu ul {
        display: flex;
        gap: 15px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .nav ul li a:hover {
        background-color: #555;
        color: #fff;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
}